In [3]:
# Division
num3 = float(input("Enter the dividend for division: "))
num4 = float(input("Enter the divisor for division: "))
if num4 == 0:
 print("Error: Division by zero is not allowed.")
else:
 div_result = num3 / num4
 print(f"Division: {num3} / {num4} = {div_result}")

Enter the dividend for division:  4
Enter the divisor for division:  2

Division: 4.0 / 2.0 = 2.0

In [5]:
# area of triangle
# Input the base and height from the user
base = float(input("Enter the length of the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
# Calculate the area of the triangle
area = 0.5 * base * height
# Display the result
print(f"The area of the triangle is: {area}")

Enter the length of the base of the triangle:  2
Enter the height of the triangle:  4

The area of the triangle is: 4.0

In [1]:
# Addition
num1 = float(input("Enter the first number for addition: "))
num2 = float(input("Enter the second number for addition: "))
sum_result = num1 + num2
print(f"sum: {num1} + {num2} = {sum_result}")

Enter the first number for addition:  1
Enter the second number for addition:  2

sum: 1.0 + 2.0 = 3.0

In [7]:
#swap 2 variable
# Input two variables
a = input("Enter the value of the first variable (a): ")
b = input("Enter the value of the second variable (b): ")
# Display the original values
print(f"Original values: a = {a}, b = {b}")
# Swap the values using a temporary variable
temp = a
a = b
b = temp
# Display the swapped values
print(f"Swapped values: a = {a}, b = {b}")

Enter the value of the first variable (a):  5
Enter the value of the second variable (b):  9

Original values: a = 5, b = 9
Swapped values: a = 9, b = 5

In [9]:
# genrate a random nmber
import random
print(f"Random number: {random.randint(1, 100)}")

Random number: 71

In [11]:
# convert kilometers to mles
kilometers = float(input("Enter distance in kilometers: "))
# Conversion factor: 1 kilometer = 0.621371 miles
conversion_factor = 0.621371
miles = kilometers * conversion_factor
print(f"{kilometers} kilometers is equal to {miles} miles")

Enter distance in kilometers:  155

155.0 kilometers is equal to 96.312505 miles

In [15]:
convert celsisus to farenhitcelsius = float(input("Enter temperature in Celsius: "))
# Conversion formula: Fahrenheit = (Celsius * 9/5) + 32
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit

SyntaxError: invalid syntax (4092543944.py, line 1)